# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
# *.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Visual Studio Files
*.ncb
*.user
*.suo
*.manifest
*.pdb
*.htm
*.html
*.ilk
*.dep
*.idb
*.bsc
*.aps

# Directories
Debug/
Release/
debug_gl/
release_gl/
debug_gl/*
release_gl/*
Bin
bin/*
obj
obj/*